APP_LOG_DIR=/var/log/soh-did

DCHAIN_BASE_URL=https://daegu.go.kr/daeguchain
DCHAIN_API_TOKEN=replace-me
DCHAIN_CHAIN_NAME=dchain
DCHAIN_TIMEOUT=20
DCHAIN_LOGIN_CREDENTIAL_TEMPLATE_ID=VLVSWVRSOPZJMPINTBNA
DCHAIN_LOGIN_CREDENTIAL_VALID_FROM=2026-06-01
DCHAIN_LOGIN_CREDENTIAL_VALID_UNTIL=2026-12-01
DCHAIN_OWNER_ADDR=replace-me
DCHAIN_OWNER_PRIVATE=replace-me
DCHAIN_OWNER_DID=replace-me

MYSQL_HOST=replace-me
MYSQL_PORT=3306
MYSQL_DATABASE=soh_did
MYSQL_USER=replace-me
MYSQL_PASSWORD=replace-me
